/*estilos del login*/

body {
    margin: 0;
    padding: 0;
    background: url(../image/fondo-pet-3.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 470px;
    background: #1bc3ea;
    color: rgb(26, 19, 19);
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-2%, -60%);
    box-sizing: border-box;
    padding: 70px 30px ;
    border-radius: 20px;
    
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 20px;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="number"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="password"]:hover {
    cursor: pointer;
    background: #7db6ec;
    color: rgb(29, 25, 23);
}





.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #ff3a5f;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}



.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #1bc3ea;
    color: rgb(29, 25, 23);
}


.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(7, 1, 1);
}

.login-box a:hover {
    color: #fff;
}


.brand img{
   
    width: 200px;
    height: 80px;
    transform: translate(-0, -7px);
    
    


}

nav.navbar {
    background-color: #fcfdfd;
    
    
   
}

















